
@font-face {
	font-family: 'Rico Code Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/RicoCode-Regular.woff2') format('woff2'), url('TTF-Unhinted/RicoCode-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Rico Code Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/RicoCode-Extended.woff2') format('woff2'), url('TTF-Unhinted/RicoCode-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Rico Code Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/RicoCode-Italic.woff2') format('woff2'), url('TTF-Unhinted/RicoCode-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Rico Code Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/RicoCode-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/RicoCode-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Rico Code Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/RicoCode-Bold.woff2') format('woff2'), url('TTF-Unhinted/RicoCode-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Rico Code Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/RicoCode-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/RicoCode-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Rico Code Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/RicoCode-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/RicoCode-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Rico Code Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/RicoCode-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/RicoCode-ExtendedBoldItalic.ttf') format('truetype');
}
